body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    text-align: center;
    padding: 20px;
    color: #fff;
}

h1 {
    margin: 0;
}

main {
    margin: 40px;
}

.blog-post {
    margin-bottom: 40px;
    background-color: #f7f7f7;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.blog-post h2 {
    color: #333;
    margin-top: 0;
}

.blog-post .post-meta {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    color: #666;
    font-size: 18px;
}

.blog-post .post-meta span {
    margin-right: 20px;
}

.blog-post img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.blog-post p {
    color: #666;
    line-height: 1.5;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icons a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 18px;
    border-radius: 50%;
    background-color: #eee;
}

.social-icons a:hover {
    color: #fff;
}

.social-icons a:hover i {
    background-color: #333;
}

.blog-post p {
    text-align: left;
    font-size: 16px;
}


footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: auto;
    width: 100%;
}

.blog-post {
    margin-bottom: 40px;
    background-color: #f7f7f7;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.blog-post h2 {
    color: #333;
    margin: 30px;
    text-align: center;

}

.blog-post img {
    height: 350px;
    margin-top: 50px;
    margin-bottom: 50px;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}